body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh !important; 
    width: 100%;
    cursor: url('/images/cursor/Cursor.png') 16 16, auto;

    .MainVerifyArchiver {
        height: 100vh;
        width: 100%;
        --CardBg: #ced4dac1;
        --BorderCard: #000000b6;
        --ShadowCard: -2px 3px 2px #00000094;
        --HoverCard: -1px 10px 10px #000000ea;
        --ButtonBg: #333366;
        --ButtonHover: #262650;
        --BorderButton: #000000;
        --TextButton: #FFFFFF;
        --cursor-default: url('/images/cursor/Cursor.png') 16 16, auto;
        --cursor-pointer: url('/images/cursor/Pointer.png') 16 16, pointer;
        --Text: #333333;

        &.dark{
            --CardBg: #28374e98;
            --BorderCard: #1E1E1E;
            --ShadowCard: -2px 3px 2px #00000094;
            --HoverCard: -1px 10px 10px #000000ea;
            --ButtonBg: #0040FF;
            --ButtonHover: #262650;
            --BorderButton: #000000;
            --TextButton: #FFFFFF;
            --Text: #D1D5DB;
        }


        .page-archiver {
            height: 45vh;
            .card-archiver {
                
                background-color: var(--CardBg);
                border: 2px solid var(--BorderCard);
                box-shadow: var(--ShadowCard);
                color: var(--Text);
                width: 650px;
                height: 320px;
                position: relative;
                left: 50%;
                top: 70%;
                transform: translate(-50%, -50%);
                flex-direction: column;
                text-align: center;
                transition: 250ms;

                &:hover {
                    transition: 450ms;
                    top: 68%;
                    box-shadow: var(--HoverCard);
                }

                .part1-archiver {
                    padding-top: 5%;

                    h2 {
                        font-size: 40px;
                    }

                    input {
                        padding-top: 20px;
                        cursor: var(--cursor-pointer);

                        &:hover {
                            cursor: var(--cursor-pointer);
                        }
                    }
                }

                .part2-archiver {
                    padding-top: 40px;

                    h3 {
                        font-size: 35px;
                    }
                }

                .button-verifyArchiver {
                    position: fixed;
                    top: 90%;
                    left: 33%;
                    height: 50px;
                    width: 200px;
                    background-color: var(--ButtonBg);
                    border: 2px solid var(--BorderButton);
                    color: var(--TextButton);
                    font-size: 30px;
                    transition: 250ms;



                    &:hover {
                        transition: 500ms;
                        background-color: var(--ButtonHover);
                    }
                }
            }
        }
    }
}