.MainLogin {
  background-color: var(--cor-geral-fundo);
  height: 100vh;
  min-height: 100vh;

  --cor-geral-fundo: #767676a4;
  --text-input: #181717b7;
  --input-border: #2C2C2E;
  --fundo-input: #868E96;
  --fundo-botao: #333366;
  --text-Login: #333333;
  --text-link: #1F2937;
  --input-bg: #868E96;
  --text-botao: #fff;

  &.dark {
    --cor-geral-fundo: #;
    --text-input: #ffffff85;
    --input-border: #2C2C2E;
    --fundo-botao: #37376b;
    --fundo-input: #868E96;
    --text-Login: #FFFFFF;
    --input-bg: #1E1E1E;
    --text-botao: #fff;
    --text-link: #a1aebe;
  }

  .conteiner-App {
    color: var(--text-botao);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .fundo-secundario {
      margin-top: 2rem;
      padding: 2rem;
      width: 100%;
      max-width: 500px;
      margin-right: 4rem;

      .login-fundo {
        text-align: start;
        color: var(--text-Login);
        margin-bottom: 1rem;

        h1 {
          margin-left: 1rem;
          margin-bottom: 0.2rem;
        }

        h2 {
          font-size: 1rem;
          color: var(--text-Login);
        }
      }
    }
  }

  .conteiner-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: all 270ms ease;

    input {
      background-color: var(--input-bg);
      color: var(--text-input);
      width: 110%;
      max-width: 500px;
      height: 3.7rem;
      padding: 0 12px;
      border: 1px solid var(--input-border);
      border-radius: 8px;
      font-size: 1.3rem;
    }
    & :hover {
      transform: translateY(-2px);
    }

    & ::placeholder {
      color: var(--text-placeholder);
    }

    .um {
      margin-bottom: 1rem;
      color: var(--text-input);
    }
  }

  .conteiner-link-botao {
    color: var(--text-botao);
    text-align: center;
    margin-left: auto;
    width: 53%;
    
    .link-login {
      margin-right: 11%;
      font-size: 2rem;
      text-decoration: none;
      color: var(--text-link);
    }
    
    .botao {
      background-color: var(--fundo-botao);
      position: relative;
      transition: all 270ms ease;
      margin-top: 0.1rem;
      font-size: 1.3rem;
      color: var(--text-botao);
      border: solid var(--input-border) 0.5px;
      border-radius: 12px;
      width: 12vw;
      height: 4.1vw;
      cursor: pointer;
    }
    & :hover {
      transform: translateY(-2px);
    }
  }
}


@media (max-width: 480px) {
  .fundo-secundario {
    padding: 1.5rem;
  }

  .conteiner-login {
    align-items: stretch;
  }

  .conteiner-login input {
    max-width: 100%;
  }

  .link-login {
    text-align: right;
    display: block;
    margin-right: 0;
  }
}