.MainErr{
    --fundo-err: #ced5dbe3;
    --B-t-geral: #000000;
    --borda-externa: #67b4dd;
    --box-shadow: #020285;
    --text-destaque: #ff001e;

    .fundo-err{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0,0,0, 0.7);
        z-index: '1000';
        
        .conteiner-err{
            background-color: var(--fundo-err);
            border: solid 2px var(--B-t-geral);
            outline:solid 4px var(--borda-externa);
            box-shadow: 0 0 0 6px var(--box-shadow);
            position: fixed;
            text-align: center;
            margin: 0 auto;
            margin-top: 10rem;
            height: 15rem;
            width: 60%;

            .err-imgs{
                justify-content: space-between;
                align-items: center;
                display: flex;
                margin-bottom: 0.5rem;
            }
            .err-text{
                font-size: 1.4rem;

                .pp{
                    color: var(--B-t-geral);
                }
                .dd{
                    color: var(--text-destaque);
                }
            }
        }
    }
}