*{
    transition: 150ms;
}

#header-home {
    display: flex;
    color: #1E293B;
    background: #6892c15b;
    backdrop-filter: blur(100%);
    width: 100%;
    

    .logo{
        width: 5.5%;
        margin: 0.5rem;
    }


    .opcoes {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-left: 50%;
        gap: 30px;


            #link {
                    color: #1E293B;
                    text-decoration: none;

                    &:hover {
                    text-decoration: underline;
                }
                }

        .column1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10%;


            img{
                width: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            &:hover{
                cursor: pointer;
            }
        }

        .column2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10%;

            h3, #h3 {
                font-size: 25px;
            }
        }

        .column3,
        .column4 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 15%;
        }
    }
}