body {
    background-image: url('../../../public/images/BackgroundWhite.png');

    .MainHome {
        .HeaderMain {
            background: linear-gradient(to bottom, #6892C1 0%, #37516E 100%);
            backdrop-filter: blur(100%);
            width: 100%;


            .opcoes {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 50%;
                margin-left: 47%;
                gap: 30px;


                .column1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 10%;
                    color: #1E293B;
                }

                .column2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 10%;
                    color: #1E293B;
                }

                .column3,
                .column4 {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    color: #1E293B;
                }
            }
        }
        .text{
            padding: 2%;
            color: #008B15;
        }

        .cards {
            display: flex;

            .card1, .card2, .card3, .card4 {
                background-color: #F3F4F6;
                display: flex;
                text-align: center;
                align-items: center;
                flex-direction: column;
                box-shadow: -3px 3px 2px #000000d7; 
                width: 20%;
                margin: 3%;
                height: 230px;
                padding: 1%;
                border-radius: 3px;   
                position: relative; 
                transition:  450ms;
                border: 1px solid #00000086;

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: -10px 8px 10px #000000d7; 
                         
                }


                .titlecard, .titlecard2,  .titlecard3, .titlecard4 {
                    display: flex;
                    font-size: 0.8rem;
                    text-align: end;
                    align-items: center;
                    margin-right: 7%;
                    padding: 3%;

                    img {
                        margin: 3%;
                        width: 30%;
                    }
                }

                .textcard, .textcard2, .textcard3, .textocard4 {
                    width: 70%;
                    color: #333333;
                    margin-top: 10%;
                }

                button {
                    border-radius: 5px;
                    margin-top: 20%;
                    background-color: #333366;
                    border: 3px solid #000000;
                    color: #FFFFFF;
                    font-size: 20px;
                    display: inline-block;
                    padding: 10px;
                    cursor: pointer;
                    transition: 350ms;

                    &:hover{
                        background-color: #262650;
                    }
                }
                
                
            }
        }
    }
}