.MensagensMain {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .card {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
      background-color: #D9D9D9;
      border: solid black 1px;
      flex-direction: column;
      overflow: hidden;
      height: 500px;
      display: flex;
      width: 800px;
  
      .titulo {
        border-bottom: 2px solid #ddd;
        text-align: center;
        font-size: 1.8rem;
        color: #333366;
        padding: 15px;
      }
  
      .container {
        flex: 1;
        display: flex;
        height: 100%;
      }
  
      .col-esquerda {
        background-color: #D9D9D9;
        border: solid black 1px;
        flex-direction: column;
        overflow-y: auto;
        display: flex;
        padding: 15px;
        flex: 1;
  
            .usuario-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
    
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
    
            &:hover {
                background-color: #9999;
            }
    
            &.ativo {
                background-color: #9999;
            }
            }
      }
  
      .col-direita {
        background-color: #9EA3A9;
        border: solid black 1px;
        flex-direction: column;
        padding: 20px;
        display: flex;
        flex: 2;
  
            .mensagens-area {
                flex: 1;
                overflow-y: auto;
                padding-bottom: 10px;
            
                .duvida, .resposta-enviada {
                margin-bottom: 10px;
                }
            }
            h2 {
            margin-bottom: 10px;
            color: #003366;
            }
    
            .duvida {
            background: white;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 15px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            }
            .resposta-area {
                display: flex;
                flex-direction: column;
                margin-top: auto;
                gap: 8px;
                textarea {
                    margin-bottom: 10px;
                    border-radius: 10px;
                    font-size: 1rem;
                    padding: 10px;
                    outline: none;
                    height: 120px;
                    border: none;
                    resize: none;
                    flex: 1;
                }
            }
        
            button {
                align-self: flex-end;
                background-color: #333366;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;
        
                &:hover {
                background-color: #444488;
                }
            }
        
            .resposta-enviada {
                margin-top: 15px;
                background: white;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            }
        }
      }
    }