
.hub{
  --fundo-g: #ced4da;
  --text-c: #fff;
  --fundo-b: #333366;
  --fundo-i: #a5a9ad;
  --color-text: #000;
}
 .support-fundo{ 
  text-align: center;

  .container-support{
    background-color: var(--fundo-g);
    width: 70%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;  

    .div-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70%;
      gap: 25px;

      .input-branco{
        border: solid var(--color-text) 1.5px;
        background-color: var(--fundo-i);
        width: 50%;
        height: 2rem;
        color: var(--color-text);
      }
      .text-preto{
        background-color: var(--fundo-i);
        border: solid var(--color-text) 1.5px;
        width: 60%;
        height: 12rem;
        color: var(--color-text);
      }
    }
    .butao-verificated{
      border: solid var(--color-text) 1.5px;
      background-color: var(--fundo-b);
      width: 25%;
      height: 10%;
      font-size: 1.5rem;
      color: var(--text-c);
      margin-top: 10px;
    }
  }
 }
 h1, h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
 }