.mainPassword{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .title{
        margin-top: 15px;
    }
    .opcoes1{
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .op2, .op3, .op4, .op5{
            display: flex;
            text-align: center;
        }
    }
}