.mainPassword {
    --bg-color-1: #d9d9d9;
    --bg-color-2: #4c82b7be;
    --bg-color-3: #4c82b7c2;
    --button-bg: #333366;
    --border-color: #000000;
    --text-color-white: #ffffff;
    --text-color-black: #000000;

    &.dark {
        --bg-color-1: #3a3a3a;
        --bg-color-2: #2c5282;
        --bg-color-3: #2a4365;
        --button-bg: #4f4f99;
        --border-color: #1e1e1e;
        --text-color-white: #d8d8d8;
        --text-color-black: #d8d8d8;
    }

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    .conteiner-gerador{
        margin-top: 40px;
        width: 60%;

        .gerar{
            display: flex;
            width: 100%;
            
            .title{
                margin-top: 15px;
                color: var(--text-color-black);
            }
            .opcoes1{
                background-color: var(--bg-color-1);
                flex-direction: column;
                border: solid var(--border-color) 1px;
                font-size: 1rem;
                margin-top: 10px;
                display: flex;
                height: 250px;
                width: 50%;
                gap: 7px;
                
                .op2, .op3, .op4, .op5{
                    padding-left: 10px;
                    text-align: center;
                    font-size: 0.8rem;
                    display: flex;
                    color: var(--text-color-black);
                }
                .tamanho-senha{
                    width: 300px;
                }
            }
            .senha-gerada{
                background-color: var(--bg-color-2);
                border: solid var(--border-color) 1px;
                display: flex;
                margin-top: 10px;
                width: 50%;
                
                .titulo-senha{
                    text-align: center;
                    margin-top: 12%;
                    padding: 15px;
                    color: var(--text-color-black);
                }
                .senha{
                    text-align: center;
                    margin-top: 12%;
                    padding: 15px;
                    word-break: break-all;
                    overflow-wrap: break-word;
                    color: var(--text-color-black);
                }
            }
        }
        .botao-gerar{
            background-color: var(--button-bg);
            border: solid var(--border-color) 1px;
            border-radius: 7px;
            margin-left: auto;
            margin-right: auto;
            color: var(--text-color-white);
            font-size: 1.3rem;
            width: 170px;
            height: 30px;
        }
    }
    .conteiner-forca{
        justify-content: center;
        display: flex;
        margin-top: 15px;
        width: 60%;

        .seguranca{
            background-color: var(--bg-color-3);
            border: solid var(--border-color) 1px;
            display: flex;
            margin-top: 10px;
            height: 200px;
            width: 45%;

            .resultado{
                padding: 10px;
                margin-top: 40px;
                color: var(--text-color-black);
            }
        }
        .verificar-forca{
            background-color: var(--bg-color-1);
            border: solid var(--border-color) 1px;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            width: 45%;
            
            .botoesSenha{
                display: flex;
                flex-direction: row;
                width: 60%;
                justify-content: space-around;
                .BotaoSalvarSenha{
                    background-color: var(--button-bg);
                    height: 20%;
                    width: 50%;
                    margin-top: 46%;
                    color: var(--text-color-white);
                    border: solid var(--border-color) 1px;
                    border-radius: 10px 1px 1px 10px;
                }
                .botao-forca{
                    background-color: var(--button-bg);
                    border: solid var(--border-color) 1px;
                    margin-top: 95px;
                    color: var(--text-color-white);
                    height: 20%;
                    width: 50%;
                    border-radius: 1px 10px 10px 1px;
                }
            }

           
            .verificar{
                width: 200px;
                color: var(--text-color-black);
            }
            .titulo-veri{
                margin-top: 20px;
                color: var(--text-color-black);
            }
        }
    }
}